<h3>Reflect on thought</h3>
<div class="row">
  <form action="/thoughts/{{entry._id}}" method="POST" class="col s12">
  <input type="hidden" name="_method" value="PUT">
    <div class="row">
      <div class="input-field">
        <input type="text" id="title" name="title" value="{{entry.title}}">
        <label for="title">Title</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field">
        <select id="status" name="status">
          {{#select entry.status}}
          <option value="public" selected>Public</option>
          <option value="private">Private</option>
          {{/select}}
        </select>
        <label for="status">Status</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field">
        <h5>Thoughts</h5>
        <textarea name="body" id="body">{{entry.body}}</textarea>
      </div>
    </div>

    <div class="row">
      <input type="submit" value="Save" class="btn blue darken-4">
      <a href="/dashboard" class="btn orange darken-3">Cancel</a>
    </div>
  </form>
</div>


