<h3><i class="fab fa-wolf-pack-battalion">Meditations</i></h3>
<div class="section">
  <p class="lead">Create public and private notes from your life</p>
</div>
<div class="divider"></div>
  <div class="section">
    <a href="/auth/google" class="btn blue darken-4">
      <i class="fab fa-google left"></i>Log in with google
    </a>
  </div>