<div class="fixed-action-btn">
  <a href="/thoughts/add" class="btn-floating btn-large waves-effect waves-light dynamic-state 
    tooltipped  blue darken-4" data-position="left" data-tooltip="Document your thoughts">
    <i class="fas fa-plus"></i>
  </a>
</div>