<nav class="grey darken-4">
  <div class="nav-wrapper container">
    <a href="#!" class="brand-logo center">Meditations</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large dynamic-state"><i class="fas fa-bars"></i></a>
    <ul class="sidenav grey darken-4" id="mobile-demo">
      <li><a class="white-text" href="/thoughts">Public Thoughts</a></li>
      <li><a class="white-text" href="/dashboard">Dashboard</a></li>
      <li><a class="white-text" href="/auth/logout">Logout</a></li>
    </ul>
  </div>
</nav>